{"openapi":"3.0.1","info":{"title":"Unnd Service","description":"Unnd Service - сервис проекта Unnd","version":"1.0.0"},"servers":[{"url":"https://unnd.lab2.pepeshka.ru/api/v1/unnd","description":"Generated server url"}],"security":[{}],"tags":[{"name":"Incons"},{"name":"SKPB"},{"name":"EOSDO","description":"Взаимодействие с ЕОСДО"},{"name":"Unprocessed FNP","description":"Блоки по ФГОЭБ АЭС"},{"name":"SNU"},{"name":"Cons Card","description":"Карточка соответствия"},{"name":"Карточка мероприятий","description":"Карточка для БП мероприятий по не соответствиям"},{"name":"SOAB"},{"name":"Unprocessed FNP Items assigned to user","description":"Пункты необработанного фнп назначенные на пользователя"},{"name":"Admin"},{"name":"Draft","description":"Методы для черновика пользовательской задачи"},{"name":"Diff"},{"name":"История согласования документов","description":"Операции для управления записями согласования"},{"name":"Manual launch of processes","description":"Ручной запуск процессов (АЭС)"},{"name":"Карточка мероприятия","description":"Карточка конкретного мероприятия по не соответствию"},{"name":"Unprocessed FNP Items","description":"Пункты необработанного фнп из кодекса"},{"name":"Task"},{"name":"REPORT"},{"name":"Approval","description":"Карточка согласования"},{"name":"NIFI","description":"Взаимодействие с NIFI"},{"name":"TD"},{"name":"Inconsistency registration processing","description":"Управление несоответствиями из внешних систем (АЭС)"},{"name":"SKPB","description":"Взаимодействие с платформой СКПБ"},{"name":"NEW FNP Inconsistency Processing","description":"БП проверки соответствия нового ФНП"},{"name":"Unprocessed FNP","description":"Не обработанные фнп из кодекса"},{"name":"ASUTD","description":"Взаимодействие с АСУТД"},{"name":"Comments","description":"Методы для комментариев к процессу"},{"name":"NEW Action process","description":"БП мероприятий по не соответствиям"},{"name":"Problem"},{"name":"Business Processes","description":"Справочник бизнес процессов"},{"name":"Common"},{"name":"Form"},{"name":"Action"},{"name":"DNP"},{"name":"FNP PROCESS","description":"Информация по процессу ввод фнп"}],"paths":{"/incons/{id}/similar":{"get":{"tags":["Incons"],"summary":"Получить список ID похожих несоответствий","description":"Возвращает список ID похожих несоответствий","operationId":"getSimilar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}}}}},"put":{"tags":["Incons"],"summary":"Установить список похожих несоответствий","description":"Полностью заменяет текущий список похожих","operationId":"setSimilar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimilarityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"post":{"tags":["Incons"],"summary":"Добавить похожие несоответствия","description":"Добавляет новые связи, игнорируя уже существующие","operationId":"addSimilar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimilarityRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Incons"],"summary":"Удалить связи с похожими","description":"Удаляет связи с указанными похожими несоответствиями","operationId":"removeSimilar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/fnp-doc-covered_regions":{"put":{"tags":["FNP"],"summary":"Создать или обновить запись ОР ФНП","operationId":"createDocCoveredRegions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocCoveredRegionsCreateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FnpDocCoveredRegionsDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Получить реестр ОР ФНП","operationId":"getAllDocCoveredRegionsWithFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocCoveredRegionsFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFnpDocCoveredRegionsDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/comments/{id}":{"get":{"tags":["Comments"],"summary":"Получить комментарий по ид","operationId":"getCommentById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTaskCommentEntity"}}}}}},"put":{"tags":["Comments"],"summary":"Обновить комментарий","operationId":"updateComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTaskCommentEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserTaskCommentEntity"}}}}}},"delete":{"tags":["Comments"],"summary":"Удалить комментарий","operationId":"deleteComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/approvals/{id}":{"get":{"tags":["Approval"],"summary":"Получить карточку согласования по ид","operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InconsDocApprovalDto"}}}}}},"put":{"tags":["Approval"],"summary":"Обновить карточку согласования","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocApprovalDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InconsDocApprovalDto"}}}}}},"delete":{"tags":["Approval"],"summary":"Удалить карточку согласования","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/approval-history/{id}":{"get":{"tags":["История согласования документов"],"summary":"Получить запись по ID","operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocApprovalHistory"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["История согласования документов"],"summary":"Обновить запись","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocApprovalHistory"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DocApprovalHistory"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["История согласования документов"],"summary":"Удалить запись","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/actions-cards/{id}":{"put":{"tags":["Карточка мероприятий"],"summary":"Обновить карточку мероприятий","operationId":"updateActionsCard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionsCardUpdateDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActionsCardDto"}}}}}}},"/user-task":{"post":{"tags":["USER TASK"],"summary":"Получить список задач по фильтру","operationId":"getAllTasks","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTaskFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/user-task/user-processes":{"post":{"tags":["USER TASK"],"summary":"Получить все процессы с участием пользователя","operationId":"getAllTasksWithProcess","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProcessFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/user-task/draft":{"post":{"tags":["USER TASK"],"summary":"Получить задач c черновиком","operationId":"getAllTasksWithDraft","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTaskFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/user-save":{"post":{"tags":["Common"],"summary":"Добавить информацию о юзере с блоками","operationId":"saveUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithBlocksDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithBlocksDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/user-edit":{"post":{"tags":["Common"],"summary":"Сохранить информацию о юзере с блоками","operationId":"editUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithBlocksDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserWithBlocksDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/twenty-second-form-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 22. Общая форма выгрузки по несоответствиям и мероприятиям.","operationId":"createTwentySecondFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwentySecondFormFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/twenty-first-form-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 21. Выгрузка Недостатков ФНП.","operationId":"createTwentyFirstFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwentyFirstFormFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/twentieth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 20. Анализ соответствия ФНП.","operationId":"createTwentiethFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwentiethFormFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/twelfth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 12. Форма Б1 (АЭС). Форма выявления, отбора и предварительного анализа несоответствий ФНП","operationId":"getTwelfthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwelfthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/twelfth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 12. Форма Б1 (АЭС). Форма выявления, отбора и предварительного анализа несоответствий ФНП","operationId":"createTwelfthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TwelfthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwelfthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/thirteenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 13. Форма Б1 (ЭО). Форма выявления, отбора и предварительного анализа несоответствий ФНП","operationId":"getThirteenthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThirteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/thirteenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 13. Форма Б1 (ЭО). Форма выявления, отбора и предварительного анализа несоответствий ФНП","operationId":"createThirteenthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ThirteenthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThirteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/third-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 3. Перечень несоответствий блока АС требованиям НД по безопасности","operationId":"getThirdForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThirdFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/third-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 3. Перечень несоответствий блока АС требованиям НД по безопасности","operationId":"createThirdFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ThirdFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThirdFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/third-doc-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 3. Анализ несоответствий ОИАЭ","operationId":"createThirdDocReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"DOCX","enum":["DOCX","ODT"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/third-doc-report-view":{"post":{"tags":["REPORT"],"summary":"Получить рендер документа отчет 3. Программа работ","operationId":"createThirdDocReport_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"text/html; charset=utf-8":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/tenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 10. Форма предложений АЭС, ПАТЭС, ОДИЦ по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность, направляемая в ЦА Концерна.","operationId":"getTenthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/tenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 10. Форма предложений АЭС, ПАТЭС, ОДИЦ по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность, направляемая в ЦА Концерна.","operationId":"createTenthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TenthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/td-type":{"get":{"tags":["TD"],"summary":"Получить тип","operationId":"getType","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["TD"],"summary":"Добавить тип","operationId":"addType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["TD"],"summary":"Удалить тип","operationId":"deleteType","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["TD"],"summary":"Редактировать тип","operationId":"editType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDTypeEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/td-file-upload":{"post":{"tags":["TD"],"summary":"Добавить файл или обновить файл технической документации","operationId":"updateTdFile","parameters":[{"name":"docId","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TdFileUploadDto"}}}}},"security":[{"bearerAuth":[]}]}},"/td-file-only-upload":{"post":{"tags":["TD"],"summary":"Загрузить файл технической документации","operationId":"uploadFile","parameters":[{"name":"file","in":"query","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}}},"security":[{"bearerAuth":[]}]}},"/td-external":{"get":{"tags":["TD"],"summary":"Получить документ по reference в idol","operationId":"getTdExternalMetadata","parameters":[{"name":"externalDocReference","in":"query","required":true,"schema":{"type":"string"}},{"name":"database","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["TD"],"summary":"Загрузить документ по reference в idol","operationId":"postExternalTDDoc","parameters":[{"name":"externalDocReference","in":"query","required":true,"schema":{"type":"string"}},{"name":"database","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/td-docs":{"post":{"tags":["TD"],"summary":"Получить реестр технической документации документации","operationId":"getDocs","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TdDocFiler"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocFindAllResponseDTO"}}}}},"deprecated":true,"security":[{"bearerAuth":[]}]}},"/td-doc":{"get":{"tags":["TD"],"summary":"Получить документ","operationId":"getDoc","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["TD"],"summary":"Добавить документ","operationId":"addDoc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["TD"],"summary":"Пометить документ на удаление","operationId":"softDeleteDoc","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["TD"],"summary":"Редактировать документ","operationId":"editDoc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/td-class":{"get":{"tags":["TD"],"summary":"Получить классификатор","operationId":"getTDClass","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["TD"],"summary":"Добавить классификатор","operationId":"addTDClass","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["TD"],"summary":"Удалить классификатор","operationId":"deleteTDClass","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["TD"],"summary":"Изменить классификатор","operationId":"editTDClass","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TDClassEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/task":{"post":{"tags":["Task"],"summary":"Сохранить процесс","operationId":"saveTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Task"],"summary":"Удалить процесс","operationId":"deleteTask","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Task"],"summary":"Обновить ифнормацию о процессе","operationId":"updateTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/task-participant":{"post":{"tags":["Task"],"summary":"Добавить информацию о пользователе, который участвовал в процессе","operationId":"addInfoAboutUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcParticipant"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaProcParticipant"}}}}},"security":[{"bearerAuth":[]}]}},"/subdivisions/all":{"post":{"tags":["UNND"],"summary":"Получить Подразделения","operationId":"getAllUnndSubdivision","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndSubdivisionsFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSubdivsionDto"}}}}},"security":[{"bearerAuth":[]}]}},"/subdivision":{"post":{"tags":["UNND"],"summary":"Добавить Подразделение","operationId":"addUnndSubdivision","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubdivsionDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubdivsionDto"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать Подразделение","operationId":"editUnndSubdivision","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubdivsionDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubdivsionDto"}}}}},"security":[{"bearerAuth":[]}]}},"/standard_systems_upload":{"post":{"tags":["UNND"],"summary":"Загрузка Типовые системы из файла","operationId":"uploadStandardSystems","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardSystemsUploadResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/standard_systems/all":{"post":{"tags":["UNND"],"summary":"Получить Типовые системы","operationId":"getAllUnndStandardSystems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndStandardSystemsFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUnndStandardSystemsFilterResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/standard_system":{"post":{"tags":["UNND"],"summary":"Добавить Типовые системы","operationId":"addUnndStandardSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndStandardSystemsRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndStandardSystemsDto"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить Типовые системы","operationId":"deleteUnndStandardSystem","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать Типовые системы","operationId":"editUnndStandardSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndStandardSystemsRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndStandardSystemsDto"}}}}},"security":[{"bearerAuth":[]}]}},"/soab":{"get":{"tags":["SOAB"],"summary":"Получить информацию о СОЭБ","operationId":"getSoab","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoabAssessmentListEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["SOAB"],"summary":"Сохранить информацию о документе СОЭБ","operationId":"addSoab","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoabAssessmentListEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoabAssessmentListEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["SOAB"],"summary":"Удалить информацию о СОЭБ","operationId":"deleteSoab","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoabAssessmentListEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/soab/load-requests":{"post":{"tags":["SOAB"],"summary":"Загрузка данных от СОЭБ","operationId":"loadRequests","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SoabRequestDto"}}}},"required":true},"responses":{"202":{"description":"Accepted"},"400":{"description":"Invalid request body"}},"security":[{"bearerAuth":[]}]}},"/snu":{"get":{"tags":["SNU"],"summary":"Получить информацию о СНУ","operationId":"getSnu","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["SNU"],"summary":"Добавить информацию О СНУ","operationId":"addSnu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["SNU"],"summary":"Удалить информацию о СНУ","operationId":"deleteSnu","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["SNU"],"summary":"Изменить информацию о СНУ","operationId":"editSnu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnuDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/skpb":{"get":{"tags":["SKPB"],"summary":"Получить информацию о СКПБ","operationId":"getInspection","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InspectionInfoDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["SKPB"],"summary":"Сохранить информацию о документе СКПБ","operationId":"addInspection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InspectionInfoDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InspectionInfoDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["SKPB"],"summary":"Удалить информацию о СКПБ","operationId":"deleteInspection","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InspectionDoc"}}}}},"security":[{"bearerAuth":[]}]}},"/skpb/load-requests":{"post":{"tags":["SKPB"],"summary":"Загрузка данных от СКПБ","operationId":"loadRequests_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SkpbRequestDto"}}}},"required":true},"responses":{"202":{"description":"Accepted"},"400":{"description":"Invalid request body"}},"security":[{"bearerAuth":[]}]}},"/skpb-file-upload":{"post":{"tags":["SKPB"],"summary":"Добавить файл к СКПБ","operationId":"uploadFile_1","parameters":[{"name":"docId","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["dateCreated","file","name","num"],"type":"object","properties":{"file":{"type":"string","format":"binary"},"num":{"type":"string"},"dateCreated":{"type":"string"},"name":{"type":"string"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/sixth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 6. Определение актуальности принятия компенсирующих мер","operationId":"getSixthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SixthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/sixth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 6. Определение актуальности принятия компенсирующих мер","operationId":"createSixthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SixthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SixthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/sixteenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 16. Общая форма Б1 + Б2","operationId":"getSixteenthForm","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SixteenthFormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SixteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/sixteenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 16. Общая Форма Б1 + Б2","operationId":"createSixteenthFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SixteenthFormReportFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/seventh-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 7. Форма программы работ по устранению несоответствий (отступлений) от требований ФНП","operationId":"getSeventhForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeventhFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/seventh-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 7. Форма программы работ по устранению несоответствий (отступлений) от требований ФНП","operationId":"createSeventhFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SeventhFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeventhFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/seventeenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 17. Анализ проекта ФНП. Внутренняя таблица ИСУН ФНП для рассмотрения проекта ФНП.","operationId":"getSeventeenthForm","parameters":[{"name":"filter","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SeventeenthFormFilterDTO"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TwentiethFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/seventeenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 17. Анализ проекта ФНП. Внутренняя таблица ИСУН ФНП для рассмотрения проекта ФНП","operationId":"createSeventeenthFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeventeenthFormFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/separate-order-file-upload":{"post":{"tags":["UNND"],"summary":"Загрузить файл приказа","operationId":"uploadOrderFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OrderFileUploadDto"}}}}},"security":[{"bearerAuth":[]}]}},"/second-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 2. Форма таблицы отобранных НД для анализа","operationId":"getSecondForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecondFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/second-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 2. Форма таблицы отобранных НД для анализа","operationId":"createSeconFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SecondFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecondFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/second-doc-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 2. ИИ к программе работ","operationId":"createSecondDocReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"DOCX","enum":["DOCX","ODT"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/second-doc-report-view":{"post":{"tags":["REPORT"],"summary":"Получить рендер документа отчет 2. Программа работ","operationId":"createSecondDocReport_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"text/html; charset=utf-8":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/reports":{"post":{"tags":["UNND"],"summary":"Получить реестр отчетов по фильтрам","operationId":"getAllReports","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportsFilter"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageUnndReportResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/report":{"get":{"tags":["UNND"],"summary":"Получить информацию об отчете","operationId":"getReport","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["UNND"],"summary":"Добавить информацию об отчете","operationId":"addReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить информацию об отчете","operationId":"deleteReport","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать информацию об отчете","operationId":"editReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndReportEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/report-file-upload":{"post":{"tags":["UNND"],"summary":"Добавить файл к реестру отчетов","operationId":"uploadFile_2","parameters":[{"name":"reportId","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/report-file-signed-upload":{"post":{"tags":["UNND"],"summary":"Добавить подписанный файл к реестру отчетов","operationId":"uploadSignedFile","parameters":[{"name":"reportId","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/proposals":{"get":{"tags":["Incons"],"summary":"Получить список замечаний и предложений","operationId":"getProposals","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Incons"],"summary":"Добавить замечание/предложение","operationId":"addProposals","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InconsProposalEntity"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/proposal":{"get":{"tags":["Incons"],"summary":"Получить замечание/предложение","operationId":"getProposal","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Incons"],"summary":"Добавить замечание/предложение","operationId":"addProposal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Incons"],"summary":"Удалить замечание/предложение","operationId":"deleteProposal","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Incons"],"summary":"Изменить замечание/предложение","operationId":"editProposal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsProposalEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/problems":{"get":{"tags":["Problem"],"summary":"Получить список проблем безопасности","operationId":"getProblems","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemFindAllResponseDTO"}}}}},"deprecated":true,"security":[{"bearerAuth":[]}]},"post":{"tags":["Problem"],"summary":"Получить список проблем безопасности","operationId":"getProblemsPageable","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemFilter"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemFindAllResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/problem":{"get":{"tags":["Problem"],"summary":"Получить информацию о проблеме безопасности","operationId":"getProblem","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Problem"],"summary":"Добавить проблему безопасности","operationId":"addProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Problem"],"summary":"Удалить проблему безопасности","operationId":"deleteProblem","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Problem"],"summary":"Изменить проблему безопасности","operationId":"editProblem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/problem-with-incons":{"post":{"tags":["Problem"],"summary":"Добавить проблему безопасности вместе с несоответствиями","operationId":"addProblemWithIncons","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemSaveWithInconsRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemSaveWithInconsRequestDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/problem-to-incons":{"post":{"tags":["Problem"],"summary":"Добавить проблему безопасности к несоответствию","operationId":"addProblemToIncons","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemInconsEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemInconsEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/problem-plain-resp":{"post":{"tags":["Problem"],"summary":"Добавить проблему безопасности и получить ответ в плоском виде без вложенностей","operationId":"addProblemAnReturnPlainRes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemFindAllProjection"}}}}},"security":[{"bearerAuth":[]}]}},"/plant_systems_upload":{"post":{"tags":["UNND"],"summary":"Загрузка Системы на АЭС из файла","operationId":"uploadPlantSystems","parameters":[{"name":"file","in":"query","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlantSystemsUploadResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/plant_systems":{"post":{"tags":["UNND"],"summary":"Получить список Систем на АЭС","operationId":"getAllPlantSystems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantSystemFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUnndPlantSystemResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/plant_system":{"post":{"tags":["UNND"],"summary":"Добавить cистемы на АЭС","operationId":"addUnndPlantSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantSystemRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantSystemResponseDto"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить запись cистемы на АЭС","operationId":"deleteUnndPlantSystem","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Обновить cистемы на АЭС","operationId":"editUnndPlantSystem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantSystemRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantSystemResponseDto"}}}}},"security":[{"bearerAuth":[]}]}},"/plant":{"get":{"tags":["UNND"],"summary":"Получить АЭС","operationId":"getPlant","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["UNND"],"summary":"Добавить АЭС","operationId":"addPlant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить АЭС","operationId":"deletePlant","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать АЭС","operationId":"editPlant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndPlantEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/pending-task":{"post":{"tags":["Task"],"summary":"Сохранить задачу","operationId":"saveCamundaTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Task"],"summary":"Удалить задачу из уннд БД","operationId":"deleteCamundaTask","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Task"],"summary":"Обновить содержимое задачи","operationId":"patchCamundaTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/pending-task-complete":{"post":{"tags":["Task"],"summary":"Завершить задачу и обновить по нему ифнормацию","operationId":"completeCamundaTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CamundaTaskEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/pageable-td-docs":{"post":{"tags":["TD"],"summary":"Получить реестр технической документации документации (с пагинацией)","operationId":"getDocsPageable","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TdDocFiler"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageTDDocResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/ou":{"get":{"tags":["UNND"],"summary":"Получить объект использования","operationId":"getOu","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["UNND"],"summary":"Добавить объект использования","operationId":"addOu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить объект использования","operationId":"deleteOu","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать объект использования","operationId":"editOu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOuEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/orders/all":{"post":{"tags":["UNND"],"summary":"Получить список приказов о фильтру","operationId":"getAllUnndOrders","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrdersFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUnndOrderResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/order":{"get":{"tags":["UNND"],"summary":"Получить приказ по ID","operationId":"getOrder","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrderEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["UNND"],"summary":"Добавить новый приказ ","operationId":"addOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrderEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrderEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Пометить приказ на удаление","operationId":"softDeleteOrder","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Изменить информацию о приказе","operationId":"editOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrderEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndOrderEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/order-file-upload":{"post":{"tags":["UNND"],"summary":"Добавить файл к реестру приказов","operationId":"uploadOrderFile_1","parameters":[{"name":"orderId","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/objects_and_equipment":{"post":{"tags":["UNND"],"summary":"Добавить Объекты и виды оборудования","operationId":"addUnndObjectsAndEquipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndObjectsAndEquipmentEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndObjectsAndEquipmentEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать Объекты и виды оборудования","operationId":"editUnndObjectsAndEquipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndObjectsAndEquipmentEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndObjectsAndEquipmentEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/objects_and_equipment/all":{"post":{"tags":["UNND"],"summary":"Получить Объекты и виды оборудования","operationId":"getAllUnndObjectsAndEquipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndObjectsAndEquipmentFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUnndObjectsAndEquipmentEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/ninth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 9. Форма План мероприятий по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность ЦА","operationId":"getNinthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NinthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/ninth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 9. Форма План мероприятий по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность ЦА","operationId":"createNinthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NinthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NinthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/nineteenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 19. Выгрузка ФНП","operationId":"getNineteenthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NineteenthFormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/nineteenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 19. Выгрузка ФНП","operationId":"createNineteenthFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NineteenthFormFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/nifi/kodeks/project-fnp":{"post":{"tags":["NIFI"],"summary":"Запуск проекта фнп (КОДЕКС)","operationId":"project","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedNifiRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/nifi/kodeks/new-fnp":{"post":{"tags":["NIFI"],"summary":"Запуск соответствия по новому фнп (КОДЕКС)","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedNifiRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/nifi/kodeks/invalid-fnp":{"post":{"tags":["NIFI"],"summary":"Инвалидация ФНП утративших силу (КОДЕКС)","operationId":"invalid","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FnpDocFindDto"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/nifi/kodeks/changed-fnp":{"post":{"tags":["NIFI"],"summary":"Запуск соответствия дополнений по действующему фнп (КОДЕКС)","operationId":"edit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedNifiRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocUnprocessedResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/licensed_activity":{"post":{"tags":["UNND"],"summary":"Добавить Вид лицензируемой деятельности","operationId":"addUnndLicensedActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndLicensedActivitiesEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndLicensedActivitiesEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать Вид лицензируемой деятельности","operationId":"editUnndLicensedActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndLicensedActivitiesEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndLicensedActivitiesEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/licensed-activities/all":{"post":{"tags":["UNND"],"summary":"Получить Виды лицензируемой деятельности","operationId":"getAllUnndLicensedActivities","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndLicensedActivitiesFilter"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUnndLicensedActivitiesEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/incons":{"get":{"tags":["Incons"],"summary":"Получить несоответствие","operationId":"getIncons","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Incons"],"summary":"Добавить несоответствие","operationId":"addIncons","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Incons"],"summary":"Удалить несоответствие","operationId":"deleteIncons","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Incons"],"summary":"Изменить несоответствие","operationId":"editIncons","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/incons-to-action":{"post":{"tags":["Problem"],"summary":"Добавить несоответствие к мероприятию","operationId":"addInconsToAction","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsActionEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsActionEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/incons-list":{"post":{"tags":["Incons"],"summary":"Добавить несоответствие (пачка)","operationId":"addInconsList","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InconsDocEntity"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/incons-all-by-filter":{"post":{"tags":["Incons"],"summary":"Получить список несоответствий по фильтру","operationId":"getInconsByFilter","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InconsFilter"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageInconsDocDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/incon-to-fnp-item/{fnpItemId}":{"post":{"tags":["Incons"],"summary":"Добавить не соответсвие к пункту фнп","operationId":"addInconsToFnpItem","parameters":[{"name":"fnpItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InconsDocEntity"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/get-diff":{"post":{"tags":["Diff"],"summary":"Сравнение двух текстов с дефолтными тегами","operationId":"getDif","parameters":[{"name":"diffReqDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DiffReqDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiffReqDTO"}}}}}}},"/get-diff-with-custom-tags":{"post":{"tags":["Diff"],"summary":"Сравнение двух текстов с кастомными тегами","operationId":"getDifWithCustomTags","parameters":[{"name":"diffReqDto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/DiffRequestWithTagsDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DiffRequestWithTagsDTO"}}}}}}},"/fourth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 4. Перечень рассмотренных НД, количество несоответствий","operationId":"getFourthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FourthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fourth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 4. Перечень рассмотренных НД, количество несоответствий","operationId":"createFourthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FourthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FourthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fourth-doc-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 4. ИИ к анализу несоответствий ОИАЭ","operationId":"createFourthDocReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"DOCX","enum":["DOCX","ODT"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/fourth-doc-report-view":{"post":{"tags":["REPORT"],"summary":"Получить рендер документа отчет 4. Программа работ","operationId":"createFourthDocReport_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"text/html; charset=utf-8":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/fourteenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 14. Форма Б2(АЭС). Форма сводного перечня несоответствий (по типам) и корректирующих мероприятий","operationId":"getFourteenthForm","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FourteenthFormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FourteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fourteenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 14. Форма Б2(АЭС). Форма сводного перечня несоответствий (по типам) и корректирующих мероприятий","operationId":"createFourteenthFormReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FourteenthFormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{"schema":{"type":"string","format":"base64"}},"application/vnd.oasis.opendocument.spreadsheet":{"schema":{"type":"string","format":"base64"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-status":{"get":{"tags":["FNP"],"summary":"Получить статус","operationId":"getStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Добавить статус","operationId":"addStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["FNP"],"summary":"Удалить статус","operationId":"deleteStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Редактировать статус","operationId":"editStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpStatusEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-section":{"get":{"tags":["FNP"],"summary":"Получить раздел","operationId":"getSection","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpSectionEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Добавить раздел к конкретному ФНП","operationId":"addSection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpSectionEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpSectionEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["FNP"],"summary":"Удалить раздел из ФНП","operationId":"deleteSection","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Редактировать раздел","operationId":"editSection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpSectionEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpSectionEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-projects":{"post":{"tags":["FNP"],"summary":"Получить список проектов ФНП","operationId":"getFnpProjectDocs","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpProjectFilter"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageFnpProjectResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-projects-filter":{"post":{"tags":["FNP"],"summary":"Получить список уникальных значений для фильтра реестра анализа ФНП","operationId":"getFnpProjectDocsFilter","parameters":[{"name":"filedName","in":"query","required":true,"schema":{"type":"string","enum":["STATUS","CODE"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-npa":{"get":{"tags":["FNP"],"summary":"Получить информацию о перечне НПА","operationId":"getFnpNpa","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Добавить информацию о перечне НПА","operationId":"addFnpNpa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["FNP"],"summary":"Удалить информацию о перечне НПА","operationId":"deleteNpa","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Редактировать информацию о перечне НПА","operationId":"editFnpNpa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-npa-search":{"post":{"tags":["FNP"],"summary":"Поиск НПА в кодексе","operationId":"getFnpNpaListSearch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NpaSearchFilterDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpNpaSearchFindAllResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-file-upload":{"post":{"tags":["FNP"],"summary":"Добавить файл к ФНП","operationId":"uploadFile_3","parameters":[{"name":"fnpId","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/fnp-file-upload-without-ref-to-doc":{"post":{"tags":["FNP"],"summary":"Добавить файл ФНП для хранения без связывания с сущностью FNP","operationId":"uploadFileWithoutRefToDoc","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpFileEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-file-code-upload":{"post":{"tags":["FNP"],"summary":"Добавить файл к ФНП","operationId":"uploadFileByCode","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/fnp-docs":{"post":{"tags":["FNP"],"summary":"Получить все ФНП документы","operationId":"getDocs_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocFilter"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-docs-codes-by-blocks":{"post":{"tags":["FNP"],"summary":"Получить все коды ФНП документов по блокам","operationId":"getDocsCodesByBlockIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-docs-by-blocks":{"post":{"tags":["FNP"],"summary":"Получить все ФНП применимые по блокам","operationId":"getFnpDocByBlockIds","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocFindAllResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-doc":{"get":{"tags":["FNP"],"summary":"Получить ФНП документ","operationId":"getDoc_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocInfoResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Добавить ФНП документ","operationId":"addDoc_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["FNP"],"summary":"Удалить ФНП документ","operationId":"deleteDoc","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Редактировать ФНП документ","operationId":"editDoc_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-doc-filter":{"post":{"tags":["FNP"],"summary":"Получить список уникальных значений для фильтра реестра ФНП","operationId":"getFnpDocsFilter","parameters":[{"name":"filedName","in":"query","required":true,"schema":{"type":"string","enum":["BLOCK_CODE","SUBDIVISION","IS_ACTUAL"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-doc-actual":{"post":{"tags":["FNP"],"summary":"Добавить ФНП документ без привязки актуальности","operationId":"addDocWithActual","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Изменить ФНП документ без привязки актуальности","operationId":"editDocWithActual","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpDocEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-assigns":{"post":{"tags":["FNP"],"summary":"Получить реестр ФНП для ОИАЭ","operationId":"getFnpAssigns","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"array","items":{"type":"string"}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignResponseFilter"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageFnpAssignResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fnp-assign":{"get":{"tags":["FNP"],"summary":"Получить ФНП для ОИАЭ","operationId":"getFnpAssign","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["FNP"],"summary":"Добавить ФНП для ОИАЭ","operationId":"addFnpAssign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["FNP"],"summary":"Удалить ФНП для ОИАЭ","operationId":"deleteFnpAssign","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["FNP"],"summary":"Изменить ФНП для ОИАЭ","operationId":"editFnpAssign","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FnpAssignBlockEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/first-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 1. Выбор НД по безопасности для выполнения анализа","operationId":"getFirstForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirstFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/first-form-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет об Таблица 1. Выбор НД по безопасности для выполнения анализа","operationId":"createFirstFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FirstFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirstFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/first-doc-report":{"post":{"tags":["REPORT"],"summary":"Получить отчет 1. Программа работ","operationId":"createFirstDocReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"DOCX","enum":["DOCX","ODT"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{}}}},"security":[{"bearerAuth":[]}]}},"/first-doc-report-view":{"post":{"tags":["REPORT"],"summary":"Получить рендер документа отчет 1. Программа работ","operationId":"createFirstDocReport_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"text/html; charset=utf-8":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/fifth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 5. Форма для оценки влияния на безопасность блока АС каждой проблемы безопасности и анализа значимости проблем безопасности","operationId":"getFifthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fifth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 5. Форма для оценки влияния на безопасность блока АС каждой проблемы безопасности и анализа значимости проблем безопасности","operationId":"createFifthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FifthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fifteenth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 15. Форма Б2(ОЭ). Форма сводного перечня несоответствий (по типам) и корректирующих мероприятий","operationId":"getFifteenthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fifteenth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 15. Форма Б2(ОЭ). Форма сводного перечня несоответствий (по типам) и корректирующих мероприятий","operationId":"createFifteenthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FifteenthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FifteenthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/fed-org":{"get":{"tags":["UNND"],"summary":"Получить федеральный орган","operationId":"getFedOrg","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["UNND"],"summary":"Добавить федеральный орган","operationId":"addFedOrg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["UNND"],"summary":"Удалить федеральный орган","operationId":"deleteFedOrg","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["UNND"],"summary":"Редактировать федеральный орган","operationId":"editFedOrg","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnndFedOrEntity"}}}}},"security":[{"bearerAuth":[]}]}},"/eosdo/notify-unprocessed":{"post":{"tags":["EOSDO"],"summary":"Отклоненные мероприятия","operationId":"notifyUnprocessed","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EosdoNotifyUnprocessedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EosdoLoadReportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/eosdo/load-report":{"post":{"tags":["EOSDO"],"summary":"Загрузка данных отчета по мероприятию с файлом","operationId":"loadReport","parameters":[{"name":"action_id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eosdo_document_code","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"report_text","in":"query","required":true,"schema":{"type":"string"}},{"name":"dt_end_fact","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["attached_file"],"type":"object","properties":{"attached_file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EosdoLoadReportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/eosdo/load-report-no-file":{"post":{"tags":["EOSDO"],"summary":"Загрузка данных отчета по мероприятию без файла","operationId":"loadReportNoFile","parameters":[{"name":"action_id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"eosdo_document_code","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"report_text","in":"query","required":true,"schema":{"type":"string"}},{"name":"dt_end_fact","in":"query","required":true,"schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EosdoLoadReportResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/eosdo/get-actions":{"post":{"tags":["EOSDO"],"summary":"Получение данных о мероприятиях за период","operationId":"getActions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EosdoActionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EosdoActionLogDto"}}}}}},"security":[{"bearerAuth":[]}]}},"/eleventh-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 11. Форма отбора предложений по устранению недостатков ФНП","operationId":"getEleventhForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EleventhFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/eleventh-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 11. Форма отбора предложений по устранению недостатков ФНП","operationId":"createEleventhFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EleventhFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EleventhFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/eighth-form":{"post":{"tags":["Form"],"summary":"Получить Таблица 8. Форма план мероприятий по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность АЭС","operationId":"getEighthForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormFilterDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EighthFormInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/eighth-form-report":{"post":{"tags":["REPORT"],"summary":"Получить Таблица 8. Форма план мероприятий по устранению потенциальных (условных) несоответствий ФНП и несоответствий, не влияющих на безопасность АЭС","operationId":"createEighthFormReport","parameters":[{"name":"format","in":"header","required":false,"schema":{"type":"string","default":"XLSX","enum":["XLSX","ODS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EighthFormInfoDTO"}}}}},"responses":{"200":{"description":"OK","content":{"application/j
[...]
