{
  "openapi": "3.0.1",
  "info": {
    "title": "Unnd Service",
    "description": "Unnd Service - ╤Б╨╡╤А╨▓╨╕╤Б ╨┐╤А╨╛╨╡╨║╤В╨░ Unnd",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://unnd.lab2.pepeshka.ru/api/v1/unnd",
      "description": "Generated server url"
    }
  ],
  "security": [
    {}
  ],
  "tags": [
    {
      "name": "Incons"
    },
    {
      "name": "SKPB"
    },
    {
      "name": "EOSDO",
      "description": "╨Т╨╖╨░╨╕╨╝╨╛╨┤╨╡╨╣╤Б╤В╨▓╨╕╨╡ ╤Б ╨Х╨Ю╨б╨Ф╨Ю"
    },
    {
      "name": "Unprocessed FNP",
      "description": "╨С╨╗╨╛╨║╨╕ ╨┐╨╛ ╨д╨У╨Ю╨н╨С ╨Р╨н╨б"
    },
    {
      "name": "SNU"
    },
    {
      "name": "Cons Card",
      "description": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П"
    },
    {
      "name": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╨╣",
      "description": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╨┤╨╗╤П ╨С╨Я ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╨╣ ╨┐╨╛ ╨╜╨╡ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П╨╝"
    },
    {
      "name": "SOAB"
    },
    {
      "name": "Unprocessed FNP Items assigned to user",
      "description": "╨Я╤Г╨╜╨║╤В╤Л ╨╜╨╡╨╛╨▒╤А╨░╨▒╨╛╤В╨░╨╜╨╜╨╛╨│╨╛ ╤Д╨╜╨┐ ╨╜╨░╨╖╨╜╨░╤З╨╡╨╜╨╜╤Л╨╡ ╨╜╨░ ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П"
    },
    {
      "name": "Admin"
    },
    {
      "name": "Draft",
      "description": "╨Ь╨╡╤В╨╛╨┤╤Л ╨┤╨╗╤П ╤З╨╡╤А╨╜╨╛╨▓╨╕╨║╨░ ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤М╤Б╨║╨╛╨╣ ╨╖╨░╨┤╨░╤З╨╕"
    },
    {
      "name": "Diff"
    },
    {
      "name": "╨Ш╤Б╤В╨╛╤А╨╕╤П ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╛╨▓",
      "description": "╨Ю╨┐╨╡╤А╨░╤Ж╨╕╨╕ ╨┤╨╗╤П ╤Г╨┐╤А╨░╨▓╨╗╨╡╨╜╨╕╤П ╨╖╨░╨┐╨╕╤Б╤П╨╝╨╕ ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П"
    },
    {
      "name": "Manual launch of processes",
      "description": "╨а╤Г╤З╨╜╨╛╨╣ ╨╖╨░╨┐╤Г╤Б╨║ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╨╛╨▓ (╨Р╨н╨б)"
    },
    {
      "name": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╤П",
      "description": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╨║╨╛╨╜╨║╤А╨╡╤В╨╜╨╛╨│╨╛ ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╤П ╨┐╨╛ ╨╜╨╡ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤О"
    },
    {
      "name": "Unprocessed FNP Items",
      "description": "╨Я╤Г╨╜╨║╤В╤Л ╨╜╨╡╨╛╨▒╤А╨░╨▒╨╛╤В╨░╨╜╨╜╨╛╨│╨╛ ╤Д╨╜╨┐ ╨╕╨╖ ╨║╨╛╨┤╨╡╨║╤Б╨░"
    },
    {
      "name": "Task"
    },
    {
      "name": "REPORT"
    },
    {
      "name": "Approval",
      "description": "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П"
    },
    {
      "name": "NIFI",
      "description": "╨Т╨╖╨░╨╕╨╝╨╛╨┤╨╡╨╣╤Б╤В╨▓╨╕╨╡ ╤Б NIFI"
    },
    {
      "name": "TD"
    },
    {
      "name": "Inconsistency registration processing",
      "description": "╨г╨┐╤А╨░╨▓╨╗╨╡╨╜╨╕╨╡ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П╨╝╨╕ ╨╕╨╖ ╨▓╨╜╨╡╤И╨╜╨╕╤Е ╤Б╨╕╤Б╤В╨╡╨╝ (╨Р╨н╨б)"
    },
    {
      "name": "SKPB",
      "description": "╨Т╨╖╨░╨╕╨╝╨╛╨┤╨╡╨╣╤Б╤В╨▓╨╕╨╡ ╤Б ╨┐╨╗╨░╤В╤Д╨╛╤А╨╝╨╛╨╣ ╨б╨Ъ╨Я╨С"
    },
    {
      "name": "NEW FNP Inconsistency Processing",
      "description": "╨С╨Я ╨┐╤А╨╛╨▓╨╡╤А╨║╨╕ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П ╨╜╨╛╨▓╨╛╨│╨╛ ╨д╨Э╨Я"
    },
    {
      "name": "Unprocessed FNP",
      "description": "╨Э╨╡ ╨╛╨▒╤А╨░╨▒╨╛╤В╨░╨╜╨╜╤Л╨╡ ╤Д╨╜╨┐ ╨╕╨╖ ╨║╨╛╨┤╨╡╨║╤Б╨░"
    },
    {
      "name": "ASUTD",
      "description": "╨Т╨╖╨░╨╕╨╝╨╛╨┤╨╡╨╣╤Б╤В╨▓╨╕╨╡ ╤Б ╨Р╨б╨г╨в╨Ф"
    },
    {
      "name": "Comments",
      "description": "╨Ь╨╡╤В╨╛╨┤╤Л ╨┤╨╗╤П ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╡╨▓ ╨║ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╤Г"
    },
    {
      "name": "NEW Action process",
      "description": "╨С╨Я ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╨╣ ╨┐╨╛ ╨╜╨╡ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П╨╝"
    },
    {
      "name": "Problem"
    },
    {
      "name": "Business Processes",
      "description": "╨б╨┐╤А╨░╨▓╨╛╤З╨╜╨╕╨║ ╨▒╨╕╨╖╨╜╨╡╤Б ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╨╛╨▓"
    },
    {
      "name": "Common"
    },
    {
      "name": "Form"
    },
    {
      "name": "Action"
    },
    {
      "name": "DNP"
    },
    {
      "name": "FNP PROCESS",
      "description": "╨Ш╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤П ╨┐╨╛ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╤Г ╨▓╨▓╨╛╨┤ ╤Д╨╜╨┐"
    }
  ],
  "paths": {
    "/incons/{id}/similar": {
      "get": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤Б╨┐╨╕╤Б╨╛╨║ ID ╨┐╨╛╤Е╨╛╨╢╨╕╤Е ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣",
        "description": "╨Т╨╛╨╖╨▓╤А╨░╤Й╨░╨╡╤В ╤Б╨┐╨╕╤Б╨╛╨║ ID ╨┐╨╛╤Е╨╛╨╢╨╕╤Е ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣",
        "operationId": "getSimilar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Incons"
        ],
        "summary": "╨г╤Б╤В╨░╨╜╨╛╨▓╨╕╤В╤М ╤Б╨┐╨╕╤Б╨╛╨║ ╨┐╨╛╤Е╨╛╨╢╨╕╤Е ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣",
        "description": "╨Я╨╛╨╗╨╜╨╛╤Б╤В╤М╤О ╨╖╨░╨╝╨╡╨╜╤П╨╡╤В ╤В╨╡╨║╤Г╤Й╨╕╨╣ ╤Б╨┐╨╕╤Б╨╛╨║ ╨┐╨╛╤Е╨╛╨╢╨╕╤Е",
        "operationId": "setSimilar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimilarityRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨┐╨╛╤Е╨╛╨╢╨╕╨╡ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П",
        "description": "╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╤В ╨╜╨╛╨▓╤Л╨╡ ╤Б╨▓╤П╨╖╨╕, ╨╕╨│╨╜╨╛╤А╨╕╤А╤Г╤П ╤Г╨╢╨╡ ╤Б╤Г╤Й╨╡╤Б╤В╨▓╤Г╤О╤Й╨╕╨╡",
        "operationId": "addSimilar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimilarityRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Incons"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╤Б╨▓╤П╨╖╨╕ ╤Б ╨┐╨╛╤Е╨╛╨╢╨╕╨╝╨╕",
        "description": "╨г╨┤╨░╨╗╤П╨╡╤В ╤Б╨▓╤П╨╖╨╕ ╤Б ╤Г╨║╨░╨╖╨░╨╜╨╜╤Л╨╝╨╕ ╨┐╨╛╤Е╨╛╨╢╨╕╨╝╨╕ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П╨╝╨╕",
        "operationId": "removeSimilar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/fnp-doc-covered_regions": {
      "put": {
        "tags": [
          "FNP"
        ],
        "summary": "╨б╨╛╨╖╨┤╨░╤В╤М ╨╕╨╗╨╕ ╨╛╨▒╨╜╨╛╨▓╨╕╤В╤М ╨╖╨░╨┐╨╕╤Б╤М ╨Ю╨а ╨д╨Э╨Я",
        "operationId": "createDocCoveredRegions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FnpDocCoveredRegionsCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FnpDocCoveredRegionsDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "FNP"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤А╨╡╨╡╤Б╤В╤А ╨Ю╨а ╨д╨Э╨Я",
        "operationId": "getAllDocCoveredRegionsWithFilter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FnpDocCoveredRegionsFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageFnpDocCoveredRegionsDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/comments/{id}": {
      "get": {
        "tags": [
          "Comments"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╣ ╨┐╨╛ ╨╕╨┤",
        "operationId": "getCommentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserTaskCommentEntity"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Comments"
        ],
        "summary": "╨Ю╨▒╨╜╨╛╨▓╨╕╤В╤М ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╣",
        "operationId": "updateComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTaskCommentEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserTaskCommentEntity"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Comments"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╨╣",
        "operationId": "deleteComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/approvals/{id}": {
      "get": {
        "tags": [
          "Approval"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨║╨░╤А╤В╨╛╤З╨║╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П ╨┐╨╛ ╨╕╨┤",
        "operationId": "getById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InconsDocApprovalDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Approval"
        ],
        "summary": "╨Ю╨▒╨╜╨╛╨▓╨╕╤В╤М ╨║╨░╤А╤В╨╛╤З╨║╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InconsDocApprovalDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InconsDocApprovalDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Approval"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨║╨░╤А╤В╨╛╤З╨║╤Г ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/approval-history/{id}": {
      "get": {
        "tags": [
          "╨Ш╤Б╤В╨╛╤А╨╕╤П ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╛╨▓"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╖╨░╨┐╨╕╤Б╤М ╨┐╨╛ ID",
        "operationId": "getById_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DocApprovalHistory"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "╨Ш╤Б╤В╨╛╤А╨╕╤П ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╛╨▓"
        ],
        "summary": "╨Ю╨▒╨╜╨╛╨▓╨╕╤В╤М ╨╖╨░╨┐╨╕╤Б╤М",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocApprovalHistory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DocApprovalHistory"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "╨Ш╤Б╤В╨╛╤А╨╕╤П ╤Б╨╛╨│╨╗╨░╤Б╨╛╨▓╨░╨╜╨╕╤П ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╛╨▓"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╖╨░╨┐╨╕╤Б╤М",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/actions-cards/{id}": {
      "put": {
        "tags": [
          "╨Ъ╨░╤А╤В╨╛╤З╨║╨░ ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╨╣"
        ],
        "summary": "╨Ю╨▒╨╜╨╛╨▓╨╕╤В╤М ╨║╨░╤А╤В╨╛╤З╨║╤Г ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╨╣",
        "operationId": "updateActionsCard",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionsCardUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsCardDto"
                }
              }
            }
          }
        }
      }
    },
    "/user-task": {
      "post": {
        "tags": [
          "USER TASK"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤Б╨┐╨╕╤Б╨╛╨║ ╨╖╨░╨┤╨░╤З ╨┐╨╛ ╤Д╨╕╨╗╤М╤В╤А╤Г",
        "operationId": "getAllTasks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTaskFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user-task/user-processes": {
      "post": {
        "tags": [
          "USER TASK"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨▓╤Б╨╡ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╤Л ╤Б ╤Г╤З╨░╤Б╤В╨╕╨╡╨╝ ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П",
        "operationId": "getAllTasksWithProcess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProcessFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user-task/draft": {
      "post": {
        "tags": [
          "USER TASK"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╖╨░╨┤╨░╤З c ╤З╨╡╤А╨╜╨╛╨▓╨╕╨║╨╛╨╝",
        "operationId": "getAllTasksWithDraft",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTaskFilter"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user-save": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╤О╨╖╨╡╤А╨╡ ╤Б ╨▒╨╗╨╛╨║╨░╨╝╨╕",
        "operationId": "saveUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserWithBlocksDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithBlocksDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/user-edit": {
      "post": {
        "tags": [
          "Common"
        ],
        "summary": "╨б╨╛╤Е╤А╨░╨╜╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╤О╨╖╨╡╤А╨╡ ╤Б ╨▒╨╗╨╛╨║╨░╨╝╨╕",
        "operationId": "editUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserWithBlocksDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithBlocksDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/twenty-second-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╛╤В╤З╨╡╤В 22. ╨Ю╨▒╤Й╨░╤П ╤Д╨╛╤А╨╝╨░ ╨▓╤Л╨│╤А╤Г╨╖╨║╨╕ ╨┐╨╛ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П╨╝ ╨╕ ╨╝╨╡╤А╨╛╨┐╤А╨╕╤П╤В╨╕╤П╨╝.",
        "operationId": "createTwentySecondFormReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwentySecondFormFilterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/twenty-first-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╛╤В╤З╨╡╤В 21. ╨Т╤Л╨│╤А╤Г╨╖╨║╨░ ╨Э╨╡╨┤╨╛╤Б╤В╨░╤В╨║╨╛╨▓ ╨д╨Э╨Я.",
        "operationId": "createTwentyFirstFormReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwentyFirstFormFilterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/twentieth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 20. ╨Р╨╜╨░╨╗╨╕╨╖ ╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╤П ╨д╨Э╨Я.",
        "operationId": "createTwentiethFormReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TwentiethFormFilterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/twelfth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 12. ╨д╨╛╤А╨╝╨░ ╨С1 (╨Р╨н╨б). ╨д╨╛╤А╨╝╨░ ╨▓╤Л╤П╨▓╨╗╨╡╨╜╨╕╤П, ╨╛╤В╨▒╨╛╤А╨░ ╨╕ ╨┐╤А╨╡╨┤╨▓╨░╤А╨╕╤В╨╡╨╗╤М╨╜╨╛╨│╨╛ ╨░╨╜╨░╨╗╨╕╨╖╨░ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "getTwelfthForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwelfthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/twelfth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 12. ╨д╨╛╤А╨╝╨░ ╨С1 (╨Р╨н╨б). ╨д╨╛╤А╨╝╨░ ╨▓╤Л╤П╨▓╨╗╨╡╨╜╨╕╤П, ╨╛╤В╨▒╨╛╤А╨░ ╨╕ ╨┐╤А╨╡╨┤╨▓╨░╤А╨╕╤В╨╡╨╗╤М╨╜╨╛╨│╨╛ ╨░╨╜╨░╨╗╨╕╨╖╨░ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "createTwelfthFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TwelfthFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwelfthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/thirteenth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 13. ╨д╨╛╤А╨╝╨░ ╨С1 (╨н╨Ю). ╨д╨╛╤А╨╝╨░ ╨▓╤Л╤П╨▓╨╗╨╡╨╜╨╕╤П, ╨╛╤В╨▒╨╛╤А╨░ ╨╕ ╨┐╤А╨╡╨┤╨▓╨░╤А╨╕╤В╨╡╨╗╤М╨╜╨╛╨│╨╛ ╨░╨╜╨░╨╗╨╕╨╖╨░ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "getThirteenthForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirteenthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/thirteenth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 13. ╨д╨╛╤А╨╝╨░ ╨С1 (╨н╨Ю). ╨д╨╛╤А╨╝╨░ ╨▓╤Л╤П╨▓╨╗╨╡╨╜╨╕╤П, ╨╛╤В╨▒╨╛╤А╨░ ╨╕ ╨┐╤А╨╡╨┤╨▓╨░╤А╨╕╤В╨╡╨╗╤М╨╜╨╛╨│╨╛ ╨░╨╜╨░╨╗╨╕╨╖╨░ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "createThirteenthFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ThirteenthFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirteenthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/third-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 3. ╨Я╨╡╤А╨╡╤З╨╡╨╜╤М ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨▒╨╗╨╛╨║╨░ ╨Р╨б ╤В╤А╨╡╨▒╨╛╨▓╨░╨╜╨╕╤П╨╝ ╨Э╨Ф ╨┐╨╛ ╨▒╨╡╨╖╨╛╨┐╨░╤Б╨╜╨╛╤Б╤В╨╕",
        "operationId": "getThirdForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/third-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 3. ╨Я╨╡╤А╨╡╤З╨╡╨╜╤М ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨▒╨╗╨╛╨║╨░ ╨Р╨б ╤В╤А╨╡╨▒╨╛╨▓╨░╨╜╨╕╤П╨╝ ╨Э╨Ф ╨┐╨╛ ╨▒╨╡╨╖╨╛╨┐╨░╤Б╨╜╨╛╤Б╤В╨╕",
        "operationId": "createThirdFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ThirdFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThirdFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/third-doc-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╛╤В╤З╨╡╤В 3. ╨Р╨╜╨░╨╗╨╕╨╖ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨Ю╨Ш╨Р╨н",
        "operationId": "createThirdDocReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DOCX",
              "enum": [
                "DOCX",
                "ODT"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/third-doc-report-view": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤А╨╡╨╜╨┤╨╡╤А ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░ ╨╛╤В╤З╨╡╤В 3. ╨Я╤А╨╛╨│╤А╨░╨╝╨╝╨░ ╤А╨░╨▒╨╛╤В",
        "operationId": "createThirdDocReport_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 10. ╨д╨╛╤А╨╝╨░ ╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╣ ╨Р╨н╨б, ╨Я╨Р╨в╨н╨б, ╨Ю╨Ф╨Ш╨ж ╨┐╨╛ ╤Г╤Б╤В╤А╨░╨╜╨╡╨╜╨╕╤О ╨┐╨╛╤В╨╡╨╜╤Ж╨╕╨░╨╗╤М╨╜╤Л╤Е (╤Г╤Б╨╗╨╛╨▓╨╜╤Л╤Е) ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я ╨╕ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣, ╨╜╨╡ ╨▓╨╗╨╕╤П╤О╤Й╨╕╤Е ╨╜╨░ ╨▒╨╡╨╖╨╛╨┐╨░╤Б╨╜╨╛╤Б╤В╤М, ╨╜╨░╨┐╤А╨░╨▓╨╗╤П╨╡╨╝╨░╤П ╨▓ ╨ж╨Р ╨Ъ╨╛╨╜╤Ж╨╡╤А╨╜╨░.",
        "operationId": "getTenthForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tenth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 10. ╨д╨╛╤А╨╝╨░ ╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╣ ╨Р╨н╨б, ╨Я╨Р╨в╨н╨б, ╨Ю╨Ф╨Ш╨ж ╨┐╨╛ ╤Г╤Б╤В╤А╨░╨╜╨╡╨╜╨╕╤О ╨┐╨╛╤В╨╡╨╜╤Ж╨╕╨░╨╗╤М╨╜╤Л╤Е (╤Г╤Б╨╗╨╛╨▓╨╜╤Л╤Е) ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ ╨д╨Э╨Я ╨╕ ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣, ╨╜╨╡ ╨▓╨╗╨╕╤П╤О╤Й╨╕╤Е ╨╜╨░ ╨▒╨╡╨╖╨╛╨┐╨░╤Б╨╜╨╛╤Б╤В╤М, ╨╜╨░╨┐╤А╨░╨▓╨╗╤П╨╡╨╝╨░╤П ╨▓ ╨ж╨Р ╨Ъ╨╛╨╜╤Ж╨╡╤А╨╜╨░.",
        "operationId": "createTenthFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TenthFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-type": {
      "get": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤В╨╕╨┐",
        "operationId": "getType",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDTypeEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╤В╨╕╨┐",
        "operationId": "addType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDTypeEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDTypeEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TD"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╤В╨╕╨┐",
        "operationId": "deleteType",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDTypeEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "TD"
        ],
        "summary": "╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╤В╨╕╨┐",
        "operationId": "editType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDTypeEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDTypeEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-file-upload": {
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╤Д╨░╨╣╨╗ ╨╕╨╗╨╕ ╨╛╨▒╨╜╨╛╨▓╨╕╤В╤М ╤Д╨░╨╣╨╗ ╤В╨╡╤Е╨╜╨╕╤З╨╡╤Б╨║╨╛╨╣ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░╤Ж╨╕╨╕",
        "operationId": "updateTdFile",
        "parameters": [
          {
            "name": "docId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TdFileUploadDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-file-only-upload": {
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨╕╤В╤М ╤Д╨░╨╣╨╗ ╤В╨╡╤Е╨╜╨╕╤З╨╡╤Б╨║╨╛╨╣ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░╤Ж╨╕╨╕",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "file",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-external": {
      "get": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В ╨┐╨╛ reference ╨▓ idol",
        "operationId": "getTdExternalMetadata",
        "parameters": [
          {
            "name": "externalDocReference",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨╕╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В ╨┐╨╛ reference ╨▓ idol",
        "operationId": "postExternalTDDoc",
        "parameters": [
          {
            "name": "externalDocReference",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDDocEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-docs": {
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤А╨╡╨╡╤Б╤В╤А ╤В╨╡╤Е╨╜╨╕╤З╨╡╤Б╨║╨╛╨╣ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░╤Ж╨╕╨╕ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░╤Ж╨╕╨╕",
        "operationId": "getDocs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TdDocFiler"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocFindAllResponseDTO"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-doc": {
      "get": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В",
        "operationId": "getDoc",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В",
        "operationId": "addDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDDocEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╝╨╡╤В╨╕╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В ╨╜╨░ ╤Г╨┤╨░╨╗╨╡╨╜╨╕╨╡",
        "operationId": "softDeleteDoc",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "TD"
        ],
        "summary": "╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В",
        "operationId": "editDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDDocEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/td-class": {
      "get": {
        "tags": [
          "TD"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨║╨╗╨░╤Б╤Б╨╕╤Д╨╕╨║╨░╤В╨╛╤А",
        "operationId": "getTDClass",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDClassEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨║╨╗╨░╤Б╤Б╨╕╤Д╨╕╨║╨░╤В╨╛╤А",
        "operationId": "addTDClass",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDClassEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDClassEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "TD"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨║╨╗╨░╤Б╤Б╨╕╤Д╨╕╨║╨░╤В╨╛╤А",
        "operationId": "deleteTDClass",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDClassEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "TD"
        ],
        "summary": "╨Ш╨╖╨╝╨╡╨╜╨╕╤В╤М ╨║╨╗╨░╤Б╤Б╨╕╤Д╨╕╨║╨░╤В╨╛╤А",
        "operationId": "editTDClass",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TDClassEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TDClassEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/task": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "╨б╨╛╤Е╤А╨░╨╜╨╕╤В╤М ╨┐╤А╨╛╤Ж╨╡╤Б╤Б",
        "operationId": "saveTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CamundaProcEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CamundaProcEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Task"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨┐╤А╨╛╤Ж╨╡╤Б╤Б",
        "operationId": "deleteTask",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Task"
        ],
        "summary": "╨Ю╨▒╨╜╨╛╨▓╨╕╤В╤М ╨╕╤Д╨╜╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╨╡",
        "operationId": "updateTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CamundaProcEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CamundaProcEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/task-participant": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╨╡, ╨║╨╛╤В╨╛╤А╤Л╨╣ ╤Г╤З╨░╤Б╤В╨▓╨╛╨▓╨░╨╗ ╨▓ ╨┐╤А╨╛╤Ж╨╡╤Б╤Б╨╡",
        "operationId": "addInfoAboutUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CamundaProcParticipant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CamundaProcParticipant"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/subdivisions/all": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨Я╨╛╨┤╤А╨░╨╖╨┤╨╡╨╗╨╡╨╜╨╕╤П",
        "operationId": "getAllUnndSubdivision",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndSubdivisionsFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageSubdivsionDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/subdivision": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨Я╨╛╨┤╤А╨░╨╖╨┤╨╡╨╗╨╡╨╜╨╕╨╡",
        "operationId": "addUnndSubdivision",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdivsionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubdivsionDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "UNND"
        ],
        "summary": "╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╨Я╨╛╨┤╤А╨░╨╖╨┤╨╡╨╗╨╡╨╜╨╕╨╡",
        "operationId": "editUnndSubdivision",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubdivsionDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubdivsionDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/standard_systems_upload": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨║╨░ ╨в╨╕╨┐╨╛╨▓╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л ╨╕╨╖ ╤Д╨░╨╣╨╗╨░",
        "operationId": "uploadStandardSystems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardSystemsUploadResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/standard_systems/all": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨╕╨┐╨╛╨▓╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л",
        "operationId": "getAllUnndStandardSystems",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndStandardSystemsFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageUnndStandardSystemsFilterResponseDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/standard_system": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨в╨╕╨┐╨╛╨▓╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л",
        "operationId": "addUnndStandardSystem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndStandardSystemsRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndStandardSystemsDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "UNND"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨в╨╕╨┐╨╛╨▓╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л",
        "operationId": "deleteUnndStandardSystem",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "UNND"
        ],
        "summary": "╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╨в╨╕╨┐╨╛╨▓╤Л╨╡ ╤Б╨╕╤Б╤В╨╡╨╝╤Л",
        "operationId": "editUnndStandardSystem",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndStandardSystemsRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndStandardSystemsDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/soab": {
      "get": {
        "tags": [
          "SOAB"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Ю╨н╨С",
        "operationId": "getSoab",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoabAssessmentListEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SOAB"
        ],
        "summary": "╨б╨╛╤Е╤А╨░╨╜╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╡ ╨б╨Ю╨н╨С",
        "operationId": "addSoab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SoabAssessmentListEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoabAssessmentListEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SOAB"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Ю╨н╨С",
        "operationId": "deleteSoab",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoabAssessmentListEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/soab/load-requests": {
      "post": {
        "tags": [
          "SOAB"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨║╨░ ╨┤╨░╨╜╨╜╤Л╤Е ╨╛╤В ╨б╨Ю╨н╨С",
        "operationId": "loadRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SoabRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Invalid request body"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/snu": {
      "get": {
        "tags": [
          "SNU"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Э╨г",
        "operationId": "getSnu",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnuDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SNU"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨Ю ╨б╨Э╨г",
        "operationId": "addSnu",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnuDocEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnuDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SNU"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Э╨г",
        "operationId": "deleteSnu",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnuDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "SNU"
        ],
        "summary": "╨Ш╨╖╨╝╨╡╨╜╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Э╨г",
        "operationId": "editSnu",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnuDocEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnuDocEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skpb": {
      "get": {
        "tags": [
          "SKPB"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Ъ╨Я╨С",
        "operationId": "getInspection",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectionInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SKPB"
        ],
        "summary": "╨б╨╛╤Е╤А╨░╨╜╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨╡ ╨б╨Ъ╨Я╨С",
        "operationId": "addInspection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InspectionInfoDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectionInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SKPB"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛ ╨б╨Ъ╨Я╨С",
        "operationId": "deleteInspection",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectionDoc"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skpb/load-requests": {
      "post": {
        "tags": [
          "SKPB"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨║╨░ ╨┤╨░╨╜╨╜╤Л╤Е ╨╛╤В ╨б╨Ъ╨Я╨С",
        "operationId": "loadRequests_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SkpbRequestDto"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Invalid request body"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skpb-file-upload": {
      "post": {
        "tags": [
          "SKPB"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╤Д╨░╨╣╨╗ ╨║ ╨б╨Ъ╨Я╨С",
        "operationId": "uploadFile_1",
        "parameters": [
          {
            "name": "docId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "dateCreated",
                  "file",
                  "name",
                  "num"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "num": {
                    "type": "string"
                  },
                  "dateCreated": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sixth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 6. ╨Ю╨┐╤А╨╡╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╨░╨║╤В╤Г╨░╨╗╤М╨╜╨╛╤Б╤В╨╕ ╨┐╤А╨╕╨╜╤П╤В╨╕╤П ╨║╨╛╨╝╨┐╨╡╨╜╤Б╨╕╤А╤Г╤О╤Й╨╕╤Е ╨╝╨╡╤А",
        "operationId": "getSixthForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SixthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sixth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 6. ╨Ю╨┐╤А╨╡╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╨░╨║╤В╤Г╨░╨╗╤М╨╜╨╛╤Б╤В╨╕ ╨┐╤А╨╕╨╜╤П╤В╨╕╤П ╨║╨╛╨╝╨┐╨╡╨╜╤Б╨╕╤А╤Г╤О╤Й╨╕╤Е ╨╝╨╡╤А",
        "operationId": "createSixthFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SixthFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SixthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sixteenth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 16. ╨Ю╨▒╤Й╨░╤П ╤Д╨╛╤А╨╝╨░ ╨С1 + ╨С2",
        "operationId": "getSixteenthForm",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SixteenthFormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SixteenthFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sixteenth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 16. ╨Ю╨▒╤Й╨░╤П ╨д╨╛╤А╨╝╨░ ╨С1 + ╨С2",
        "operationId": "createSixteenthFormReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SixteenthFormReportFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seventh-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 7. ╨д╨╛╤А╨╝╨░ ╨┐╤А╨╛╨│╤А╨░╨╝╨╝╤Л ╤А╨░╨▒╨╛╤В ╨┐╨╛ ╤Г╤Б╤В╤А╨░╨╜╨╡╨╜╨╕╤О ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ (╨╛╤В╤Б╤В╤Г╨┐╨╗╨╡╨╜╨╕╨╣) ╨╛╤В ╤В╤А╨╡╨▒╨╛╨▓╨░╨╜╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "getSeventhForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeventhFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seventh-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 7. ╨д╨╛╤А╨╝╨░ ╨┐╤А╨╛╨│╤А╨░╨╝╨╝╤Л ╤А╨░╨▒╨╛╤В ╨┐╨╛ ╤Г╤Б╤В╤А╨░╨╜╨╡╨╜╨╕╤О ╨╜╨╡╤Б╨╛╨╛╤В╨▓╨╡╤В╤Б╤В╨▓╨╕╨╣ (╨╛╤В╤Б╤В╤Г╨┐╨╗╨╡╨╜╨╕╨╣) ╨╛╤В ╤В╤А╨╡╨▒╨╛╨▓╨░╨╜╨╕╨╣ ╨д╨Э╨Я",
        "operationId": "createSeventhFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SeventhFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeventhFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seventeenth-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 17. ╨Р╨╜╨░╨╗╨╕╨╖ ╨┐╤А╨╛╨╡╨║╤В╨░ ╨д╨Э╨Я. ╨Т╨╜╤Г╤В╤А╨╡╨╜╨╜╤П╤П ╤В╨░╨▒╨╗╨╕╤Ж╨░ ╨Ш╨б╨г╨Э ╨д╨Э╨Я ╨┤╨╗╤П ╤А╨░╤Б╤Б╨╝╨╛╤В╤А╨╡╨╜╨╕╤П ╨┐╤А╨╛╨╡╨║╤В╨░ ╨д╨Э╨Я.",
        "operationId": "getSeventeenthForm",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SeventeenthFormFilterDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TwentiethFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/seventeenth-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 17. ╨Р╨╜╨░╨╗╨╕╨╖ ╨┐╤А╨╛╨╡╨║╤В╨░ ╨д╨Э╨Я. ╨Т╨╜╤Г╤В╤А╨╡╨╜╨╜╤П╤П ╤В╨░╨▒╨╗╨╕╤Ж╨░ ╨Ш╨б╨г╨Э ╨д╨Э╨Я ╨┤╨╗╤П ╤А╨░╤Б╤Б╨╝╨╛╤В╤А╨╡╨╜╨╕╤П ╨┐╤А╨╛╨╡╨║╤В╨░ ╨д╨Э╨Я",
        "operationId": "createSeventeenthFormReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeventeenthFormFilterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              },
              "application/vnd.oasis.opendocument.spreadsheet": {
                "schema": {
                  "type": "string",
                  "format": "base64"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/separate-order-file-upload": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ч╨░╨│╤А╤Г╨╖╨╕╤В╤М ╤Д╨░╨╣╨╗ ╨┐╤А╨╕╨║╨░╨╖╨░",
        "operationId": "uploadOrderFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrderFileUploadDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/second-form": {
      "post": {
        "tags": [
          "Form"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 2. ╨д╨╛╤А╨╝╨░ ╤В╨░╨▒╨╗╨╕╤Ж╤Л ╨╛╤В╨╛╨▒╤А╨░╨╜╨╜╤Л╤Е ╨Э╨Ф ╨┤╨╗╤П ╨░╨╜╨░╨╗╨╕╨╖╨░",
        "operationId": "getSecondForm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecondFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/second-form-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨в╨░╨▒╨╗╨╕╤Ж╨░ 2. ╨д╨╛╤А╨╝╨░ ╤В╨░╨▒╨╗╨╕╤Ж╤Л ╨╛╤В╨╛╨▒╤А╨░╨╜╨╜╤Л╤Е ╨Э╨Ф ╨┤╨╗╤П ╨░╨╜╨░╨╗╨╕╨╖╨░",
        "operationId": "createSeconFormReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "ODS"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SecondFormInfoDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecondFormInfoDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/second-doc-report": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╛╤В╤З╨╡╤В 2. ╨Ш╨Ш ╨║ ╨┐╤А╨╛╨│╤А╨░╨╝╨╝╨╡ ╤А╨░╨▒╨╛╤В",
        "operationId": "createSecondDocReport",
        "parameters": [
          {
            "name": "format",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DOCX",
              "enum": [
                "DOCX",
                "ODT"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/second-doc-report-view": {
      "post": {
        "tags": [
          "REPORT"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤А╨╡╨╜╨┤╨╡╤А ╨┤╨╛╨║╤Г╨╝╨╡╨╜╤В╨░ ╨╛╤В╤З╨╡╤В 2. ╨Я╤А╨╛╨│╤А╨░╨╝╨╝╨░ ╤А╨░╨▒╨╛╤В",
        "operationId": "createSecondDocReport_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFilterDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html; charset=utf-8": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/reports": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤А╨╡╨╡╤Б╤В╤А ╨╛╤В╤З╨╡╤В╨╛╨▓ ╨┐╨╛ ╤Д╨╕╨╗╤М╤В╤А╨░╨╝",
        "operationId": "getAllReports",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndReportsFilter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageUnndReportResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/report": {
      "get": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛╨▒ ╨╛╤В╤З╨╡╤В╨╡",
        "operationId": "getReport",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndReportEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛╨▒ ╨╛╤В╤З╨╡╤В╨╡",
        "operationId": "addReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndReportEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndReportEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "UNND"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛╨▒ ╨╛╤В╤З╨╡╤В╨╡",
        "operationId": "deleteReport",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndReportEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "UNND"
        ],
        "summary": "╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╨╕╨╜╤Д╨╛╤А╨╝╨░╤Ж╨╕╤О ╨╛╨▒ ╨╛╤В╤З╨╡╤В╨╡",
        "operationId": "editReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnndReportEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnndReportEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/report-file-upload": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╤Д╨░╨╣╨╗ ╨║ ╤А╨╡╨╡╤Б╤В╤А╤Г ╨╛╤В╤З╨╡╤В╨╛╨▓",
        "operationId": "uploadFile_2",
        "parameters": [
          {
            "name": "reportId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/report-file-signed-upload": {
      "post": {
        "tags": [
          "UNND"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨┐╨╛╨┤╨┐╨╕╤Б╨░╨╜╨╜╤Л╨╣ ╤Д╨░╨╣╨╗ ╨║ ╤А╨╡╨╡╤Б╤В╤А╤Г ╨╛╤В╤З╨╡╤В╨╛╨▓",
        "operationId": "uploadSignedFile",
        "parameters": [
          {
            "name": "reportId",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/proposals": {
      "get": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╤Б╨┐╨╕╤Б╨╛╨║ ╨╖╨░╨╝╨╡╤З╨░╨╜╨╕╨╣ ╨╕ ╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╣",
        "operationId": "getProposals",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InconsProposalResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╖╨░╨╝╨╡╤З╨░╨╜╨╕╨╡/╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╡",
        "operationId": "addProposals",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/InconsProposalEntity"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InconsProposalEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/proposal": {
      "get": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Я╨╛╨╗╤Г╤З╨╕╤В╤М ╨╖╨░╨╝╨╡╤З╨░╨╜╨╕╨╡/╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╡",
        "operationId": "getProposal",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InconsProposalEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Incons"
        ],
        "summary": "╨Ф╨╛╨▒╨░╨▓╨╕╤В╤М ╨╖╨░╨╝╨╡╤З╨░╨╜╨╕╨╡/╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╡",
        "operationId": "addProposal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InconsProposalEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InconsProposalEntity"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Incons"
        ],
        "summary": "╨г╨┤╨░╨╗╨╕╤В╤М ╨╖╨░╨╝╨╡╤З╨░╨╜╨╕╨╡/╨┐╤А╨╡╨┤╨╗╨╛╨╢╨╡╨╜╨╕╨╡",
        "operationId": "deleteProposal",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
[...]
